body{
    background-color: rgb(37, 34, 34);
}

h1, h2{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color:rgb(255, 255, 255);
}

#qtd_totalAlunos{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 5px;
    color: white;
}