body {
  font-family: Arial, sans-serif;
  display: flex;
  background-color: #232020d6;
  color: #fff;
}

.sidebar {
  width: 20%;
  background-color: #333;
  padding: 20px;
  text-align: center;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.container {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.card {
  width: 30%;
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.card h2 {
  margin: 0;
}

.card p {
  font-size: 24px;
  margin-top: 10px;
}
